<div class="sec">
  <div class="center">
    <h1 class="top-title">My Bookmarks</h1>
  </div>

  <% @bookmarks.each do |topic, bookmarks| %>
    <div class="row">
      <div class="col-md-12">
        <h3><%= link_to topic.title, topic %></h3>
        <%= link_to "Add Bookmark", new_bookmark_path(topic_id: topic.id), class: "btn btn-success" %>
      </div>
    </div>
    <div class="row">
      <% bookmarks.each do |bookmark| %>
        <div class="col-md-2 thumbnail">
          <div class="delete-book">
            <%= link_to bookmark, method: :delete, data: { confirm: "Are you sure?"} do %>
              <i class="fa fa-trash-o"></i>
            <% end %>
          </div>
            <% if bookmark.thumbnail_url != nil  %>
              <%= link_to(image_tag(bookmark.thumbnail_url), bookmark.url, class: "thumbnail thumb", target: "_blank" ) %>
            <% else %>
              <%= link_to(image_tag('book.png'), bookmark.url, class: "book", target: "_blank" ) %>
            <% end %>
           <p><%= bookmark.title %></p>
            <div class="likes">
              <%= render partial: 'likes/like', locals: { bookmark: bookmark } if current_user %>
            </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="center">
  <h1 class="top-title">Liked Bookmarks</h1>
</div>
  <% @likes.each do |like| %>
    <div class="col-md-2 thumbnail">
      <div class="delete-book">
        <%= link_to like.bookmark, method: :delete, data: { confirm: "Are you sure?"} do %>
          <i class="fa fa-trash-o"></i>
        <% end %>
      </div>
      <% if like.bookmark.thumbnail_url != nil  %>
        <%= link_to(image_tag(like.bookmark.thumbnail_url), like.bookmark.url, class: "thumbnail thumb", target: "_blank" ) %>
      <% else %>
        <%= link_to(image_tag('book.png'), like.bookmark.url, class: "book", target: "_blank" ) %>
      <% end %>
        <p><%= like.bookmark.title %></p>
        <div class="likes">
        <%= render partial: 'likes/like', locals: { bookmark: like.bookmark } if current_user %>
      </div>
    </div>
  <% end %>
</div>